@import url('https://fonts.googleapis.com/css?family=Dosis');

:root {

  --MAIN-size: 600px;

  --RU-size: 100px;
  --RD-size: 150px;
  --LD-size: 200px;
  --LU-size: 250px;

  --hover-size: 300px;

  --MAIN-half: calc(var(--MAIN-size) / 2);

  --RU-margin: calc(var(--MAIN-half) - var(--RU-size));
  --LD-margin: calc(var(--MAIN-half) - var(--LD-size));
  --LU-margin: calc(var(--MAIN-half) - var(--LU-size));

  --MidLogo-size: 50px;

  background-color: #F2F2F2;

}

body {
  color: #F2F2F2;
  font-family: 'Dosis', sans-serif;
  margin: 0;
}
h2 {
  font-weight: 500;
  font-size: 24px;
  padding: 20px 20px;
  margin: 0;
}

#main {
  position: relative;
  width: var(--MAIN-size);
  height: var(--MAIN-size);
  margin: 50px auto;
}

#left_up {
  position: absolute;
  height: var(--LU-size);
  width: var(--LU-size);
  margin-top: var(--LU-margin);
  margin-left: var(--LU-margin);
}
#left_up:hover {
  --LU-size: var(--hover-size);
  --LU-margin: calc(var(--MAIN-half) - var(--LU-size));
  }
#left_up img {
  position: absolute;
  width: var(--MidLogo-size);
  height: var(--MidLogo-size);
  margin-top: calc(var(--LU-size) - var(--MidLogo-size));
  margin-left: calc(var(--LU-size) - var(--MidLogo-size));
}

#right_up {
  position: absolute;
  width: var(--RU-size);
  height: var(--RU-size);
  margin-top: var(--RU-margin);
  margin-left: var(--MAIN-half);
}
#right_up:hover {
  --RU-size: var(--hover-size);
  --RU-margin: calc(var(--MAIN-half) - var(--RU-size));
}
#right_up img {
  position: absolute;
  width: var(--MidLogo-size);
  height: var(--MidLogo-size);
  margin-top: calc(var(--RU-size) - var(--MidLogo-size));
}

#right_down {
  position: absolute;
  width: var(--RD-size);
  height: var(--RD-size);
  margin-top: var(--MAIN-half);
  margin-left: var(--MAIN-half);
}
#right_down:hover {
  --RD-size: var(--hover-size);
}
#right_down img {
  position: absolute;
  width: var(--MidLogo-size);
  height: var(--MidLogo-size);
}

#left_down {
  position: absolute;
  width: var(--LD-size);
  height: var(--LD-size);
  margin-top: var(--MAIN-half);
  margin-left: var(--LD-margin);
}
#left_down:hover {
  --LD-size: var(--hover-size);
  --LD-margin: calc(var(--MAIN-half) - var(--LD-size));
}
#left_down img {
  position: absolute;
  width: var(--MidLogo-size);
  height: var(--MidLogo-size);
  margin-left: calc(var(--LD-size) - var(--MidLogo-size));
}


.color1 { background: #01161E; }
.color2 { background: #124559; }
.color3 { background: #85DCAC; }
.color4 { background: #E59500; }
.box {
  display: block;
}

.LD-align {position: absolute; bottom: 0;}
.RD-align {position: absolute; bottom: 0; right: 0;}
.RU-align {position: absolute; right: 0;}





#header {
	background-color: 0;
  margin: 2px 0 0 0;
	height: 50px;
	line-height: 50px;
}
#header a {
	color: #01161E;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
#header a:hover {
	color: #E59500;
}
#header-title {
	display: block;
	float: left;
	font-size: 20px;
	font-weight: bold;
}
#header-nav {
	display: block;
	float: right;
	margin: 0;
	font-size: 12px;
}
#header-nav li{
	display: inline;
	padding-left: 8px;
}


.container {
	max-width: 1000px;
	margin: 0 auto;
}


#line {clear: both;}
hr {margin: 0;}
