@import url('https://fonts.googleapis.com/css?family=Dosis|Raleway');

:root {
  
/* Colors */
  --color-1: #01161E;
  --color-2: #124559;
  --color-3: #85DCAC;
  --color-4: #E59500;

/* Reference box variables */
  --MAIN-size: calc(var(--hover-size) * 2);
  --MAIN-half: calc(var(--MAIN-size) / 2);
  --MAIN-margin: 100px;

/* Boxes variables */
  --RU-size: 100px;
  --RD-size: 150px;
  --LD-size: 200px;
  --LU-size: 250px;

  --hover-size: calc((2 * var(--EP-size)) + (3 * var(--Pad)));

/* Margin calculations */
  --RU-margin: calc(var(--MAIN-half) - var(--RU-size));
  --LD-margin: calc(var(--MAIN-half) - var(--LD-size));
  --LU-margin: calc(var(--MAIN-half) - var(--LU-size));

/* Image sizes */
  --MidLogo-size: 50px;
  --EP-size: 120px;

  --Pad: 25px;
}

/* Fixed types */
body {
  color: #F2F2F2;
  background-color: #F2F2F2;
  margin: 0;
  font-family: 'RaleWay', sans-serif;
}
h2 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

/* Reference box */
#main {
  position: relative;
  width: var(--MAIN-size);
  height: var(--MAIN-size);
  margin: var(--MAIN-margin) auto;
}

/* Four boxes */
#left_up {
  position: absolute;
  height: var(--LU-size);
  width: var(--LU-size);
  margin-top: var(--LU-margin);
  margin-left: var(--LU-margin);
}
#left_up:hover {
  --LU-size: var(--hover-size);
  --LU-margin: calc(var(--MAIN-half) - var(--LU-size));
}
#left_up:hover img:first-child {
  display: none;
}

#right_up {
  position: absolute;
  width: var(--RU-size);
  height: var(--RU-size);
  margin-top: var(--RU-margin);
  margin-left: var(--MAIN-half);
}
#right_up:hover {
  --RU-size: var(--hover-size);
  --RU-margin: calc(var(--MAIN-half) - var(--RU-size));
}
#right_up:hover img:first-child {
  display: none;
}

#right_down {
  position: absolute;
  width: var(--RD-size);
  height: var(--RD-size);
  margin-top: var(--MAIN-half);
  margin-left: var(--MAIN-half);
}
#right_down:hover {
  --RD-size: var(--hover-size);
}
#right_down:hover img:first-child {
  display: none;
}

/* Left down box */
#left_down {
  position: absolute;
  width: var(--LD-size);
  height: var(--LD-size);
  margin-top: var(--MAIN-half);
  margin-left: var(--LD-margin);
}
#left_down:hover {
  --LD-size: var(--hover-size);
  --LD-margin: calc(var(--MAIN-half) - var(--LD-size));
}
#left_down:hover img:first-child{
  display: block;
}




/* Show a box */
.box { display: block; }

/* h2 alignment in the boxes */
.LU-align {position: absolute;}
.LD-align {position: absolute; bottom: 0;}
.RD-align {position: absolute; bottom: 0; right: 0;}
.RU-align {position: absolute; right: 0;}

.LU-pad {padding: var(--Pad) 0 0 var(--Pad);}
.LD-pad {padding: 0 0 var(--Pad) var(--Pad);}
.RD-pad {padding: 0 var(--Pad) var(--Pad) 0;}
.RU-pad {padding: var(--Pad) var(--Pad) 0 0;}

.EPimg {
  width: var(--EP-size);
  height: var(--EP-size); 
}
.EPimg img {
  width: var(--EP-size);
  height: var(--EP-size);
  display: none;
}

.MidLogo {
  width: var(--MidLogo-size);
  height: var(--MidLogo-size);
}
.MidLogo img {
  width: var(--MidLogo-size);
  height: var(--MidLogo-size);
  padding: 0;
}

/* Color classes */
.color1 { background: var(--color-1); }
.color2 { background: var(--color-2); }
.color3 { background: var(--color-3); }
.color4 { background: var(--color-4); }
