@import url('https://fonts.googleapis.com/css?family=Dosis|Raleway');

:root {

  /* Other sizes */
  --SC-footer: 56px;

  /* Colors */
  --color-1: #01161E;
  --color-2: #124559;
  --color-3: #85DCAC;
  --color-4: #B2E5AC;
  --color-back: white;

  --Pad: 25px;

}

/* Color classes */
.color1 { background: var(--color-1); }
.color2 { background: var(--color-2); }
.color3 { background: var(--color-3); }
.color4 { background: var(--color-4); }
.colorBack { background: var(--color-back); }

/* Fixed types */
body {
  opacity: 1;
  transition: 300ms opacity;
  color: var(--color-back);
  background-color: var(--color-back);
  margin: 0;
  font-family: 'RaleWay', sans-serif;
}
body.fade-out {
  opacity: 0;
}
h2 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}
h3 {
  font-weight: 400;
  font-size: 16px;
  margin: 5px;
}
