<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".less" mimeType="text/css" />
        </staticContent>
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="8192" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
