#top_left, #bottom_left, #bottom_right, #top_right{
  position: absolute; transition: 1000ms;
  background-color: #ffffff50;
}
#top_left { right: 50%; bottom: 50%; }
#bottom_left { right: 50%; top: 50%; }
#bottom_right { left: 50%; top: 50%; }
#top_right { left: 50%; bottom: 50%; }

/*#reference_box {border: 1px solid #000;}*/
