.box {
  position: absolute; transition: 500ms;
  background-color: #ffffff50;
}
.box h2 {
  /* transition: inherit; */
}
#top_left { right: 50%; bottom: 50%; }
#bottom_left { right: 50%; top: 50%; }
#bottom_right { left: 50%; top: 50%; }
#top_right { left: 50%; bottom: 50%; }

#reference_box {transition: 300ms;}
