// Import global ---------------------------------------------------------------
@import "/style/-global.less";


// HEADER & FOOTER -------------------------------------------------------------
@header_height: 50px;
@hh_small: 40px;
@footer_height: 20px;
@fh_small: 15px;
@alfa_fs: 1em;
@afs_small: 0.8em;
@flex_margin: 0.8%;

@import '/style/headfoot.less';

#pauze {
  color: @color_blue_04;
  cursor: pointer;
  .noselect();
  font-weight: bold;
  &:hover {
    color: @color_blue_08;
  }
}


// UNDERLAY --------------------------------------------------------------------
.table-underlay{
  position: absolute;
  width: 100%;
  height: 100%;
  .inset_logo();
}

#temp_active{
  color: @color_bright;
  font-size: 0.8em;
  margin-left: @flex_margin;

}

#flex-container {

  // FLEX (parent)
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  overflow: auto;

  // Position
  margin: 0 @flex_margin;

  height: calc(100% - @header_height - @footer_height);
  width: calc(100% - (2 * @flex_margin)) ;
  @media all and (max-width: @mw){
    height: calc(100% - @hh_small - @fh_small);
  }

  // background-color: rgba(255,0,0,0.2);
  color: @color_bright;

  .zonebox {

    margin: calc(@flex_margin / 2);

    // FLEX (child)
    flex-grow: 1;
    flex-basis: 550px;

    font-size: 1em;


    padding: 5px;

    > span {

      // FLEX (parent)
      display: flex;
      align-items: center;
      justify-content: space-between;

      // display: inline-block;
      width: calc(100% - 10px);

      padding: 5px;
      margin-bottom: 3px;

      background-color: @color_blue_01;
      border-radius: 5px;

      font-weight: bold;



    }

    .reset_ignored {
      .noselect();
      float:right;
      cursor: pointer;
      font-size: 0.7em;

    }

    .stationbox {
      margin: 5px 0px;
      padding: 7px;

      border-radius: 5px;

      font-size: 1em;


      background-color: @color_blue_01;

      // box-shadow: 0 0px 3px 0px rgba(0, 0, 0, .4);

      > span {
        display: inline-block;
        margin-bottom: 5px;

        font-weight: bold;
      }

      .alarmrow {

        border-radius: 5px;
        padding: 5px;
        margin-top: 3px;

        font-size: 0.9em;

        // opacity: 0.9;

        // h-length, v-length, blur, spread, colour
        box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .5);

        color: @color_dark;

        > span {
          display: inline-block;
          margin-right: 8px;
          &:first-child{
            margin-left: 8px;
          }
        }

        &:hover {
          .ignore {
            opacity: 1;
          }
        }

        .ignore {
          display: inline-block;
          opacity: 0.3;
          float: right;
          height: 15px; width: 15px;

          border-radius: 3px;
          background-color: @color_dark;
          color: @color_bright;

          cursor: pointer;
        }

        .duration {
          float:right;
        }

        &.hidden {
          display: none;
        }


      }

      @import "/style/cond_format.less";

    }

  }

}
