/* Fonts -----------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,500');
/* https://www.paulirish.com/2009/bulletproof-font-face-implementation-syntax/ */

/* Colors ----------------------------------------------------------------------*/
.color_1 { background-color: #FFFFFF; }
.color_2 { background-color: #FFFFFF; }
.color_3 { background-color: #FFFFFF; }
.color_4 { background-color: #FFFFFF; }
.color_back { background-color: #EBE8E1; }

/* HEADER ----------------------------------------------------------------------*/
#header {
	position: fixed;
	width: 100%;
	height: 50px; /* header_height */
	line-height: 50px; /* header_height + 'px' */
	bottom: 0;
}
#header_menu {
  text-decoration: none;
  margin-top: 0;
  padding-left: calc(25px + 3%); /* HL.center_right() */
}
#header_menu li {
  font-weight: 400;
  display: inline-block;
  padding-right: 20px;
  color: #4E4E4E;/*#FFF;*/
}
#headerlogo {
	position: absolute;
	width: 30px;
	height: 30px;
	margin: 10px;
	fill: #4E4E4E;/*#FFF;*/
	right: 3%;
	bottom: 0;
	transition: 0ms;
}

/* MakeAlignmentClasses --------------------------------------------------------*/
.top_left_align, .bottom_left_align, .bottom_right_align, .top_right_align {
	position: absolute;
}
.bottom_left_align {bottom:0;}
.bottom_right_align {bottom:0; right:0}
.top_right_align {right:0;}

/* Absolute center -------------------------------------------------------------*/
.center {
	margin: auto; position:absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

/*hide scrollbars*/
html { -ms-overflow-style: -ms-autohiding-scrollbar;} /* IE11 */
body::-webkit-scrollbar { display: none;} /* Windows Chrome */

/* BODY ------------------------------------------------------------------------*/
body {
	position: absolute;
  font-family: 'Nunito', sans-serif; font-size: 16px;
  margin: 0;
	width: 100%;
	height: 100%;
}
/* everything that has to fade on load */
.fade {opacity: 0;}
/* everything that's not fading but has to be hided before objects are made */
/* Header text would show as a list and headerlogo svg big black */
.hide_on_load {opacity: 0;}

/* TEXT ------------------------------------------------------------------------*/
h1 {
  font-weight: 200;
  margin: 0;
  font-size: 1.6em;
  line-height: 4em; /* must be line height for ''$('#page_banner_scroll').height()' calculation' in 'PageBannerPosition()' in 'pages.js'*/
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-weight: 200;
  margin: 0;
  color: #3E3E3E;
  line-height: 1em;
}
h4 {
  font-weight: 200;
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  text-align: center;
}
/* Text */
p {
 text-align: justify;
 font-weight: 200;
 margin-top: 0;
}

a {
  text-decoration: none;
}

/* No highlight when tapping on mobile -----------------------------------------*/
div {
	-webkit-tap-highlight-color: transparent;
}

/* Used in 'AlbumFlexByID' in 'pages_music.js' ---------------------------------*/
.after:after {content: ''; width: 33%;} /* 33% is the width of 1 object when 3 objects are next to eachother (defined in AlbumFlexByID), */
.fore:before {content: ''; width: 33%;} /* so if its added before or after it alignes perfectly                                          */

/* Prevent items from being selected NOTE: does it work? */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/* TEMPORARY */
.buy_flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.buy_flex_item {
  display:flex;
  justify-content: space-around;
  width: 33%;
}
.buy_flex_item svg {
  align-items: center;
  width: 100%
}
