/* Fonts -----------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Dosis|Raleway:100,200,300,400,500');

/* Elements --------------------------------------------------------------------*/

body {
  opacity: 1;
  transition: 500ms opacity;
  margin: 0;
  font-family: 'RaleWay', sans-serif;
}
body.fade_in_load {
  opacity: 0;
}
h2 {
  font-weight: 200;
  margin: 0;
  color: white;
}
h3 {
  margin: auto;
  left: 10px;
}
a{
  color: white;
	text-decoration: none;
  font-weight: 200;
}

/* Classes ---------------------------------------------------------------------*/
.container {
	margin: 0 5%;
}
